@page "/explore"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<AccountService>

<body>

    <NavigationBar activePage=NavigationBar.Page.Explore showModeratorPage=isModerator />

    <h1> Explore Page </h1>

</body>

<Footer/>

@code {
    private User user;
    private bool isModerator;
    protected override async Task OnInitializedAsync()
    {
        user = myStateContainer.Value;
        isModerator = await Service.UserIsModerator(user);
    }
}