@page "/explore"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<AccountService>

<body>

    <ul>
        <li><a href="@("/home")">Home</a></li>
        <li><a class="active"  href="@("/explore")">Explore</a></li>
        <li><a href=@("/profile")>Profile</a></li>
        <li><a href=@("/")>Sign Out</a></li>
    </ul>

    <h1> Explore Page </h1>

</body>

<footer>
    <p style="color:white">Here's where we can cite people</p>
</footer>

@code {
    private User user;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        user = myStateContainer.Value;
    }
}