@page "/explore"

@using PeerReviewWebsite.Classes.Data
@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer state
@inherits OwningComponentBase<AccountService>

<PageTitle>Explore</PageTitle>

<body>

    <NavigationBar activePage=NavigationBar.Page.Explore showModeratorPage=isModerator />

    <h1> Explore Page </h1>

</body>

<Footer/>

@code {
    private bool isModerator;
    protected override async Task OnInitializedAsync()
    {
        isModerator = await Service.UserIsModerator(state.User);
    }
}