@page "/home"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer state
@inherits OwningComponentBase<AccountService>

<PageTitle>Home</PageTitle>

<body>

    <NavigationBar activePage=NavigationBar.Page.Home showModeratorPage=isModerator />

    <h1> Home Page </h1>

    <p>Here's where can put announcements and updates</p>

</body>

<Footer/>

@code {
    private bool isModerator;
    protected override async Task OnInitializedAsync()
    {
        isModerator = await Service.UserIsModerator(state.User);
    }
}