@page "/home"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<AccountService>

<body>

    <ul>
        <li><a class="active" href="@("/home")">Home</a></li>
        <li><a href="@("/explore")">Explore</a></li>
        <li><a href=@("/moderator")>Moderator</a></li>
        <li><a href=@("/profile")>Profile</a></li>
    </ul>

    <h1> Home Page </h1>

    <p>Here's where can put announcements and updates</p>

</body>

<Footer/>

@code {
    private User user;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        user = myStateContainer.Value;
    }
}