@page "/moderator"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<AccountService>

<PageTitle>Moderator</PageTitle>

<body>

    <NavigationBar activePage=NavigationBar.Page.Moderator showModeratorPage=true />

    <h1> Moderator Page </h1>


</body>

<Footer/>

@code {
    private User user;
    protected override void OnInitialized()
    {
        user = myStateContainer.Value;
    }
}