@page "/moderator"

@using PeerReviewWebsite.Classes.Data
@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer state
@inherits OwningComponentBase<AccountService>

<PageTitle>Moderator</PageTitle>

<body>

    <NavigationBar activePage=NavigationBar.Page.Moderator showModeratorPage=true />

    <h1> Moderator Page </h1>


</body>

<Footer/>

@code {
    protected override void OnInitialized()
    {
    }
}