<ul>
    <li><a class=@HomeClass href="/home">Home</a></li>
    <li><a class=@ExploreClass href="/explore">Explore</a></li>
    @if (showModeratorPage) {
        <li><a class=@ModeratorClass href="/moderator">Moderator</a></li>
    }
    <li><a class=@ProfileClass href="/profile">Profile</a></li>
</ul>

@code {
    public enum Page {
        Home,
        Explore,
        Moderator,
        Profile
    }

    [Parameter]
    public Page activePage { get; set; }
    private string HomeClass => activePage == Page.Home ? "active" : "";
    private string ExploreClass => activePage == Page.Explore ? "active" : "";
    private string ModeratorClass => activePage == Page.Moderator ? "active" : "";
    private string ProfileClass => activePage == Page.Profile ? "active" : "";

    [Parameter]
    public bool showModeratorPage { get; set; }

    protected override async Task OnInitializedAsync() {
        
    }
}
