<ul>
    <li class="left"><a class=@GetClass(Page.Home) href="/home">Home</a></li>
    <li class="left"><a class=@GetClass(Page.Explore) href="/explore">Explore</a></li>
    <li class="left"><a class=@GetClass(Page.Author) href="/author">Author</a></li>
    <li class="left"><a class=@GetClass(Page.Reviewer) href="/reviewer">Reviewer</a></li>
    <li class="left"><a class=@GetClass(Page.Profile) href="/profile">Profile</a></li>
    <li class="right"><a class=@GetClass(Page.LogOut) href="/">Log Out</a></li>
    @if (showModeratorPage) {
        <li class="right"><a class=@GetClass(Page.Moderator) href="/moderator">Moderator</a></li>
    }
</ul>

@code {
    public enum Page {
        Home,
        Explore,
        Author,
        Reviewer,
        Moderator,
        Profile,
        LogOut
    }

    [Parameter]
    public Page activePage { get; set; }

    [Parameter]
    public bool showModeratorPage { get; set; }
    public bool showAuthorPage { get; set; }
    public bool showReviewerPage { get; set; }

    protected override async Task OnInitializedAsync() {

    }

    private string GetClass(Page page) => activePage == page ? "active" : "";
}
