@page "/profile/{Email}"
@using PeerReviewWebsite.Classes.Data.Login
@inherits OwningComponentBase<UserService>

<h1>Hello @Email</h1>
<h2> Profile Page </h2>

@code {
    [Parameter]
    public string Email { get; set; }

    // <summary>
    //  Finds the user and gathers their information from database (isn't called to do anything yet)
    // </summary>
    private async Task findUser()
    {
        // Find user information in the database
        User user = await Service.GetUserAsync(Email);
        if (user is null)
        {
            Console.WriteLine($"Could not find user with the given username: {Email}");
            return;
        }

        // Checking that database info can be used
        Console.WriteLine("User Info:");
        Console.WriteLine("User ID: " + user.Id);
        Console.WriteLine("Username: " + user.Email);
        Console.WriteLine("User password" + user.Password);
    }
}