@page "/profile"

@using PeerReviewWebsite.Classes.Data.Login
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<UserService>

<h1>Hello @user.FirstName @user.LastName!</h1>
<h2> Profile Page </h2>

<p>User Id: @user.Id</p>
<p>Email: @user.Email </p>

@code {
    private User user;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        user = myStateContainer.Value;
    }
}