@page "/reviewer"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<AccountService>

<body>

    <ul>
        <li><a class="active" href="@("/home")">Home</a></li>
        <li><a href="@("/explore")">Explore</a></li>
        <li><a class="active" href=@("/reviewer")>Reviewer</a></li>
        <li><a href=@("/profile")>Profile</a></li>
        <li><a href=@("/")>Sign Out</a></li>

    </ul>

    <h1> Reviewer Page </h1>

    <p> Only those with Reviewer role status will be able access to this page </p>
    <p>Will include a list of documents assigned for review</p>

</body>

@code {
    private User user;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        user = myStateContainer.Value;
    }
}

