@page "/reviewer"

@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer myStateContainer
@inherits OwningComponentBase<AccountService>

<body>
    <NavigationBar activePage=NavigationBar.Page.Author showModeratorPage=isModerator />
    <h1>Reviewer Page</h1>

    <p> Documents to Review </p>

</body>

<Footer/>

@code {
    private User user;
    private bool isModerator;
    protected override async Task OnInitializedAsync()
    {
        user = myStateContainer.Value;
        isModerator = await Service.UserIsModerator(user);
    }
}