@page "/reviewer"

@using PeerReviewWebsite.Classes.Data
@using PeerReviewWebsite.Classes.Data.Account
@inject MyStateContainer state
@inherits OwningComponentBase<AccountService>

<PageTitle>Reviewer</PageTitle>

<body>
    <NavigationBar activePage=NavigationBar.Page.Reviewer showModeratorPage=isModerator />
    <h1>Reviewer Page</h1>

    <p> Documents to Review </p>

</body>

<Footer/>

@code {
    private bool isModerator;
    protected override async Task OnInitializedAsync()
    {
        isModerator = await Service.UserIsModerator(state.User);
    }
}